{% extends "base.html" %}

{% block description %}
    <h2>Jason Lam Resume/CV</h2>
    <br>
    <h5>
        Jason Lam is a technical lead and Solutions Architect with more than a decade of experience in software application development.
        Enjoy inspiring and coaching teams towards a common objective, along with getting involved with system design
    </h5>

{% endblock %}

{% block content %}
            <div class="section section-gray section-clients">
                <div class="container text-center">

                    <h4 class="header-text">Who Am I</h4>
                    <p>
                       I am an individual who truly believes in <strong>Servant Leadership</strong>, it is through empowerment and inspiration that
                        brings the best out of people.  I am an advocate of encouragement, mentorship and coaching. On an individual basis
                        I continually thrive on learning new programming languages, modern system design and new frameworks

                        <br><br>
                        One of my favorite books is <i><a href="https://www.amazon.ca/Peopleware-Productive-Projects-Tom-DeMarco/dp/0932633439" target="_blank">Peopleware: Productive Projects and Teams!</a></i>

                        <br><br>
                        My personality type is <strong>A Defender (ISFJ)</strong> <i> which is someone with the Introverted, Observant, Feeling, and Judging personality
                        traits. These people tend to be warm and unassuming in their own steady way. They’re efficient and responsible, giving careful attention
                        to practical details in their daily lives.</i>
                    </p>
                </div>
            </div>

            <div class="section section-features">
                <div class="container">
                    <h4 class="header-text text-center">Current Skills & Experience</h4>
                    <h5 class="text-center">Full Resume/CV at <a href="https://www.linkedin.com/in/jasonlam604/" target="_blank">LinkedIn</a></h5>
                    <h5 class="text-center"><a href="how-website-was-built">Tutorial how this site was built using Python, Docker, AWS Lightsail and more</a></h5>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-science"></i>
                                </div>
                                <div class="text">
                                    <h4>Solutions Architect</h4>
                                    <p>
                                        <ul  class="text-left">
                                            <li>API First + API Design First</li>
                                            <li>Domain Driven Design</li>
                                            <li>Event Based Architecture</li>
                                            <li>Microservices</li>
                                            <li>SOLID, 12-Factor App, Design Patterns</li>
                                            <li><a href="https://c4model.com/" target="_blank">C4Model</a>, UML, Rational Rose</li>
                                            <li>TOGAF 9.1 Certified</li>
                                            <li>AWS Certified Solutions Architect – Associate</li>
                                            <li>ITIL 2011 Foundation Certified</li>
                                            <li>Certified Information Systems Security Professional (CISSP)</li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-rocket"></i>
                                </div>
                                <h4>Leader & Manager</h4>
                                <p>
                                    <ul  class="text-left">
                                        <li>Approach - <strong>Servant Leadership!</strong></li>
                                        <li>Lead by Example</li>
                                        <li>Empower and Coach</li>
                                        <li>Certified ScrumMaster</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-blue">
                                <div class="icon">
                                    <i class="pe-7s-plugin"></i>
                                </div>
                                <h4>Software Engineer</h4>
                                <p>
                                    <ul  class="text-left">
                                        <li>Java, Python and PHP</li>
                                        <li>Postman</li>
                                        <li>Docker</li>
                                        <li>ngrok</li>
                                        <li>Intellij, Eclipse</li>
                                        <li>Postgres, MySQL</li>
                                        <li>Redis, Memcache</li>
                                        <li>RabbitMQ</li>
                                        <li>Heroku, AWS Cloud Service</li>
                                        <li>Microservices Development</li>
                                        <li>REST and SOAP API Development</li>
                                        <li>API Integrations</li>
                                        <li>CI/CD, Unit testing</li>
                                        <li>Oracle Certified Associate, Java SE 7 Programmer</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section section-testimonial">
                <div class="container">
                    <h4 class="header-text text-center">Recommendations</h4>
                    <h5 class="text-center"><a href="https://www.linkedin.com/in/jasonlam604/" target="_blank">More on LinkedIn</a></h5>
                    <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">

                                <div class="carousel-testimonial-caption">
                                    <p>Firda, Wijiya</p>
                                    <h3><i>It has been a fantastic career journey at Operto to have Jason to whom I directly report to.
                                            He has been a great role model and tremendous mentor with an extensive tech knowledge.
                                            Jason truly cares about his team's personal development and the supports he provides is exceptional!
                                            He always gives a lot of useful guidances for us to keep growing and tackle new opportunities.
                                        It's been nothing but very lucky for me to have him as a leader and mentor!</i></h3>
                                </div>
                            </div>
                            <div class="item active">

                                <div class="carousel-testimonial-caption">
                                    <p>Shabnam, Sharif</p>
                                    <h3><i>It’s rare to come across standout talent in the tech world like Jason.
                                            A few people have the opportunity to report to a manager whom is a coach as well as a mentor. Not only is Jason so patient, but also he puts others first which is remarkable characteristics of a person.
                                            Any employee would be lucky to have Jason as a colleague.
                                    </i></h3>
                                </div>
                            </div>
                            <div class="item">

                                <div class="carousel-testimonial-caption">
                                    <p>Claudia, Wong</p>
                                    <h3><i>As the Engineering Director and Team Lead at Fit Brains, Jason proved to be an excellent technical resource. During the time I reported to Jason, he provided over the top support to everyone in the team, even if they were not directly related to his projects. He always offered his expertise and help to anyone who needed it.
Jason’s exemplary work ethic and expert skills truly motivated me to accomplished my goals.
Any company who hires Jason would definitely benefit from his vast technical knowledge and great personality and it would be a great pleasure to work with him again.</i></h3>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators carousel-indicators-blue">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
{% endblock %}
